body{
    padding:0px;
    margin:0px;
    background-color: #272727;
}
/** Logo e Navegação**/
header{
    background:url("../Imagens/topo.jpg") no-repeat;
    object-fit: contain;
    background-size: 100%;
    background-color: #171717;
    /**border:2px solid red;**/
    height:300px; 
}
.logoA{
    margin-top: -15px;
    background-color:#191919;
    color: rgb(247, 179, 91);
    height: 100px;
    width: 100px;
   
}
.h1cetro{
    padding-top: 05%;
    padding-left:15%;
    font: 4em sans-serif;
}

.contas{
    float: left;
    width:75px;
    height:200px;
    background-color: #171717;
    color:aliceblue;
    
}
.Paragrafo_redes{
    
    white-space: nowrap;
    writing-mode: vertical-lr;
    float: left;
    margin-left:16px;
    margin-top: -140px;
    
}
.icon11{
   
    float: left;
    margin-left: 25px;
    margin-top: 120px;
}
.icon12{
 
    float: left;
    margin-left:-30px;
    margin-top: 160px;
}

/** Corpo Base **/
#Corpo1{

    background-color: #707070;
    border:2px solid white;
    height: 400px;
}
#Corpo2{

    background-color: #ae5353;
    border:2px solid rgb(255, 255, 255);
    height: 250px;
}

footer{

    background-color: #cfd22a;
    border:2px solid rgb(195, 30, 137);
    height: 50px;
}