body{
    width: 1200px;
    display: grid;

    padding:0px;
    margin:0px;
    background-color: #272727;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/** Logo e Navegação**/
header{
    position: relative;
    background:url("../Imagens/topo.jpg") no-repeat;
    object-fit: contain;
    background-size: 100%;
    background-color: #171717;
    /**border:2px solid red;**/
    height:300px; 
}

.a1{
    position: absolute;
    top: 130px;
    right: 100px;
    white-space: nowrap;
    color: rgb(247, 179, 91);
    float:right;
    text-shadow: 1px 1px #171717;
    
}

.a2{
    position:absolute;
    top: 180px;
    right: 100px;
    white-space: nowrap;
    color: rgb(247, 179, 91);
    text-shadow: 1px 1px #171717;
}

.logoA{
    position: absolute;
    display: grid;
    background-color:#191919;
    color: rgb(247, 179, 91);
    width: 100px;
    height: 100px;
}
.h1cetro{
    font: 3em sans-serif;
    padding-left: 20px;
    padding-top: -35px;
  
}

.contas{
    position: absolute;
    float: left;
    width:75px;
    height:200px;
    margin-top: 100px;
    background-color: #171717;
    color:aliceblue;
    
}
.Paragrafo_redes{
    
    white-space: nowrap;
    writing-mode: vertical-lr;
    float: left;
    margin-left:16px;
    margin-top: -140px;
    
}
.icon11{
   
    float: left;
    margin-left: 25px;
    margin-top: 120px;
}
.icon12{
 
    float: left;
    margin-left:-30px;
    margin-top: 160px;
}



/** Corpo Base **/


/** Parte 1**/
#Corpo1{
    clear: both;
    display: grid;
    height: 450px;
    
}

.sobre{
 
    
    position: absolute;
    top:300px;
    left:800px;    
    color:aliceblue;
    white-space: nowrap;
    
}
.sobre1{
 
    
    position: absolute;
    top:650px;
    left:450px;    
    color:aliceblue;
    white-space: nowrap;
}



article{

    position: absolute;
    top:400px;
    left:800px;    
    color:aliceblue;
    max-width: 350px;
    text-align: justify;
}

.foto{
    
    position: absolute;
    top:320px;
    background-image: url(../Imagens/pexels-thirdman-5583250.jpg);
    margin: 50px;
    width: 400px;
    height: 240px;
    background-size:400px 240px;
    background-color:#ae5353;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(20, 20, 20);

}



#Corpo2{

    background-color: #ae5353;
    border:2px solid rgb(255, 255, 255);
    height: 250px;
}

footer{

    background-color: #cfd22a;
    border:2px solid rgb(195, 30, 137);
    height: 50px;
}


